.cart-container{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 3px solid pink;

}
.cart-container:hover{

        cursor: pointer;
        transform: scale(1.005);
}
.imageofcartitem{
    width: 200px;
}


.cart-details{
    display: flex;
    flex-direction: column;
}
.cart-details-2{
    display: flex;
    justify-content: space-around;

}

.cart-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartquantity{
    width: 30px;
    height: 30px;
}
.labelofqnty{
    margin: 20px;
}