.footercontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px blue ;
    margin: 20px;
}

.footerp{
    font-size: 20px;
    color: red;
}

.footerlink{
    font-size: 20px;
    text-decoration: none;

}

@media (max-width:350px) {
    .footerp{
        font-size: 14px;
    }
    
}