.header-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
   width: 100vw;
   background-color: aquamarine;
}


.icon{
    width: 60%;
    align-self: self-start;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;
}
.icon-name{
    width: 40%;
}
.input{
    width: 60%;
    padding: 10px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
}

.nav-pannel{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: start;
    align-items: center;
    width: 100%;
    list-style: none;

}
.nav0{
    width: 80%;
    
}
.cart{
    width: 20%;
  
}