.header-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 242, 225);
  flex-wrap: wrap;
  padding: 10px 15px;
}

.btns{
  width: 80px;
  height: 40px;
 background-color: rgb(10, 88, 233);
 color:wheat;
 margin: 10px;
 font-size: 15px;
 font-weight: bold;
 
}

.btns1{
  width: 80px;
  height: 40px;
 background: transparent;
 color:black;
 margin: 10px;
 font-size: 15px;
 font-weight: bold;
 border: 0px;
 
}

.btns:hover{
  transform: scale(1.05);
  cursor: pointer;
  background-color: blue;
}
.btnssearch{
background-color: rgb(10, 88, 233);
color: antiquewhite;
font-size: 15px;
font-weight: bold;
}
.btnssearch:hover{
  transform: scale(1.05);
  cursor: pointer;
  background-color: blue;
}

/* Hamburger menu (mobile only visible) */
.hmenu{
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}

/* Search + Icon container */
.searchandicon{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.icon{
  display: flex;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
}

.nav-container{
  width: 20%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.nav-pannel{
  display: flex;
  list-style: none;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

.searchcont{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cartimg{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.input{
  width:80%;
  height: 40px;
}

.btnssearch{
  width: 15%;
  height: 46px;
}
.menusmall{
  display: none;
}
/* responsive design */
@media (max-width: 900px){
  
  
  .searchandicon{
    width: 100%;
    flex-direction: column;
  }

  .icon{
    width: 100%;
    justify-content: center;
  }

  .nav-container{
    width: 100%;
    margin-top: 10px;
  }
  .menusmall{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50% ;
    
  

  }
  .nav-container{
    display: none;
  }
}

/* ---------- Mobile (max 600px) ----------- */
@media (max-width: 600px){

 

  .icon{
    width: 100%;
    justify-content: space-between;
  }

  .searchcont{
    width: 100%;
    flex-direction: column;
  }

  .input{
    width: 90%;
  }

  .btnssearch{
    width: 30%;
    font-size: 15px;
  }

  /* Navigation hide on mobile */
  .nav-container{
    display: none;
  }
}
@media (max-width:230px) {
    .btnssearch{
    width: 85%;
    font-size: 15px;
  }
  
}
