.header-container{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100vw;
  height: 120px;
background-color: darkseagreen;  
}


.icon{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  
}
.searchandicon{
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.icon-name{
  width:45%;
  margin: 10px;
}
.menusmall{
  display: flex;
  flex-direction: column;
  width: 180px;
  background:transparent;
  height: 150px;
  position: absolute;
  top: 50px;
  left: -30px;
  
  

}
.smallheading{
  text-align: center;
}
.hmenu{
  display: none;
}

.rmvmenu{
  display: none;
}
.btns{
  width: 100px;
  height: 45px;
  background-color: rgb(24, 24, 194);
 
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
  color: aliceblue;
}
.btns:hover{
  transform: scale(1.05);
}

.input{
  width: 40%;
  height: 40px;
}
.btns2{
 width: 100px;
  height: 45px;
  background-color: rgb(24, 24, 194);
  
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
  color: aliceblue;
}
.nav-container{
  display: flex;
}
.nav-pannel{
  list-style: none;
}
.nav-container{
  width: 20%;
  display: flex;
 justify-content: space-around;
 align-items: center;
}


@media (max-width:750px) {
  .hmenu{
    display: block;
  width: 30px;
  height: 30px;
}

.nav-container{
  display: none;
}
.icon{
  width: 100%;
}
  
}





@media (max-width:610px) {
  .icon-name{
    width: 90%;
    text-align: center;
    
  }
   .header-container{
    height: 210px;
  }

  .icon{
    margin-top: 10px;
    margin-left: 15px
  }
  .input{
    width: 80vw;
    margin: 7px;
  }
  
 .searchandicon{
  flex-direction: column;
 }
}
