.header-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  
  flex-wrap: wrap;
  padding: 10px 15px;
}

/* Hamburger menu (mobile only visible) */
.hmenu{
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}

/* Search + Icon container */
.searchandicon{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.icon{
  display: flex;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
}

.nav-container{
  width: 20%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.nav-pannel{
  display: flex;
  list-style: none;
  width: 200px;
  justify-content: space-around;
  align-items: center;
}

.searchcont{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input{
  width:80%;
  height: 40px;
}

.btnssearch{
  width: 15%;
  height: 46px;
}
.menusmall{
  display: none;
}
/* ===========================
      RESPONSIVE DESIGN
==============================*/

/* ---------- Tablet (max 900px) ----------- */
@media (max-width: 900px){
  
  
  .searchandicon{
    width: 100%;
    flex-direction: column;
  }

  .icon{
    width: 100%;
    justify-content: center;
  }

  .nav-container{
    width: 100%;
    margin-top: 10px;
  }
  .menusmall{
    display: block;
    margin-left: 65% ;

  }
  .nav-container{
    display: none;
  }
}

/* ---------- Mobile (max 600px) ----------- */
@media (max-width: 600px){

  /* Show hamburger */
  .hmenu{
    display: block;
  }

  .icon{
    width: 100%;
    justify-content: space-between;
  }

  .searchcont{
    width: 100%;
    flex-direction: column;
  }

  .input{
    width: 90%;
  }

  .btnssearch{
    width: 60%;
  }

  /* Navigation hide on mobile */
  .nav-container{
    display: none;
  }
}
