.logincontainer{

    width: 400px;
    margin: auto;
    background-color:white;
    box-shadow: 0px 0px 20px black;
    border-radius: 15px;
}

.loginheading{
    text-align: center;
    color: wheat;
}


.form0{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.emailcont{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.passwordcont{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
     font-size: 20px;
     margin: 20px;
     gap: 10px;
}

.sub-btn{
    width: 100px;
    height:30px ;
    margin: 20px;
    cursor: pointer; 
    border-radius: 10px;   
}

.sub-btn:hover{
    background-color: rgb(40, 51, 206);

    color: aliceblue;
}

.input0{
    width: 300px;
    height: 25px;
}