.topcontainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.containerdetails{
    display: flex;

}

.imagecontofproduct{
    width: 40%;
    padding: 7px;
    border: 1px solid red;

}

.imageofprod{
    width: 90%;
}

.detailscont{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 60%;
}

/* //for brand and product name */

.cont1{

    display: flex;
     justify-content: space-evenly;
     align-items: center;
    font-size: 20px;
     color: rgb(67, 1, 143);
}

.cont2{
       display: flex;
     justify-content: space-evenly;
     align-items: center;
     color: rgb(6, 19, 18);
     font-size: 20px;
}

.cont3{
       display: flex;
    justify-content: space-evenly;
     align-items: center;
     color: rgb(44, 45, 116);
     font-size: 17px;
}
.cont4{
       display: flex;
     justify-content: space-evenly;
     align-items: center;
     color: rgb(0, 0, 0);
     font-size: 15px;
}

.cont5{
       display: flex;
     justify-content: space-evenly;
     align-items: center;
     color: rgb(66, 62, 0);
     font-size: 14px;
}

.inputqnty{
    width: 40px;
    font-size:19px;
    padding: 7px;
}

.cartbutton{
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}
.cartbutton:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(0, 0, 218);
}

.inputlabel{
    display: flex;
    align-items: center;
justify-content: space-around;
    
}
.buybutton{
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
    
}
.buybutton:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(0, 0, 218);
}