.itemcard{
    height: 290px;
    width: 240px;
    color: rgb(66, 66, 66);
    border: 3px solid green;
    margin: auto;
    background: rgb(228, 227, 243);
    border-radius: 10px;
    padding: 5px;
    
}
.itemcard:hover{
    transform: scale(1.007);
    cursor: pointer;
    
}
.itemimage{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.cardimage{
  
    height: 160px;
     border: 1px solid black;
    
}



.pricencart{
    display:flex ;
    justify-content: space-around;
}

.itemname{
    text-align: center;
}