.form
{
    display: flex;
    flex-direction: column;
    display: block;
}

.form-container{
    width: 500px;
    margin: 50px auto;
    border: 2px solid  black;
    padding: 20px;
   
}
.formcontt{
    display: none;
}
.p1{
    color:red;
}
.radio-cont{
    display: flex;
    gap: 190px;
    margin: 10px;
}

.mobileandemail{
    display: flex;
    width: 100%;
    margin: 10px;
}
.address-cont{
    margin: 10px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
}
.nameinput{
    width: 100%
}

.submit{
    width: 100px;
    height: 35px;
    background-color: #0866ff;
    color:white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.submit:hover{
    background: #1d2bfa;
    transform: scale(1.05);
}

.submit-btn{
    margin: auto;
 
}
.visib{
    display: block;
    color: green;
}
.invisib{
    display: none;
}